body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

img {
    width: 100%;
  border-radius: 10px;
}

.card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    width: 250px;
    margin: 0 auto;
    border: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.container {
    display: column;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    vertical-align: middle;
}

.qr-code {
    border-radius: 10px;
}

.card-heading {
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    font-size: large;
}

.card-content {
    font-size: small;
    color: hsl(220, 15%, 55%);
}

.attribution {
    padding-top: 2rem;
}